__pycache__/
*.py[cod]
*.egg-info/
.Python
.venv/
venv/
build/
dist/
.mypy_cache/
.pytest_cache/
.vscode/

data/*
!data/.gitkeep
!data/**/.gitkeep

runs/*
!runs/.gitkeep
!runs/**/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/**/.gitkeep

artifacts/
output/
wandb/
.wandb_api_key

*.pt
*.onnx
*.bin
*.hbm
*.rgbchw

!experiments/
!experiments/**/
!experiments/**/*.pt
!experiments/**/*.onnx
!experiments/**/*.bin
!experiments/**/*.hbm
!experiments/**/*.gif
